* {
    font-family: "Roboto", sans-serif;
    font-size: 13.8px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

:root{
    --mainColor: #18181A;
    --bodyColor: #1C1C1C;
    --textColor: #A7A7A7;
}

.body {
    background-color: val(--bodyColor);
    width: 100%;
    height: 100%;
}