* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

:root {
    --darkModeBackground: #080808;
    --darkModeBody: #0C0C0F;
    --darkModeText: #e9e6e6;
    --darkModeTextHover: #f7f7f7;
    --lightModeBackground: #ffffff;
    --lightModeText: #121213;
    --offDarkModeBackground: #1d1d1d;
    --errorColor: #ff3535ef;
    --darkModeCard: #181717;
    --focusDarkMode: #242222;
    --focusLightMode: #eeeded;
}

.body {
    background-color: var(--darkModeBackground);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}