* {
    font-family: "Roboto", sans-serif;
    font-size: 13.8px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

:root{
    --darkModeBackground: #080808;
    --darkModeBody: #0C0C0F;
    --darkModeText: #D8D8D8;
}

.body {
    background-color: var(--mainColor);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}