nav {
    --navColor: #18181A;
    --textColor: #A7A7A7;
    --textHover: #C8C8C8;

    background-color: var(--navColor);
    padding: 13px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: sticky;
    top: 0;

    .app-name {
        font-size: 1.8rem;
        text-decoration: none;
        margin: 5px 33px 5px 0px;
        padding: 0 3px;
        color: var(--textColor);
    }

    ul {
        display: flex;
        li {
            list-style: none;
            a {
                margin: 0 1.0rem;
                padding: 0.3rem;
                display: block;
                text-decoration: none;
                color: var(--textColor);
                border-radius: 0.5rem;
            }

            a:hover {
                color: var(--navColor);
            }
        }
    }
}