.products-page {
    margin: 0;
    font-size: 9pt;
    display: block;

    & .page-label {
        font-size: 11pt;
        margin: 1rem 1rem 0 1rem;
        background-image: linear-gradient(88deg, #09efff, 50%,  #ff1f57 100%);
        background-clip: text;
        color: transparent;
    }

    & .products-cards {
        color: var(--darkModeColor);

        & ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            padding: 1rem;
            max-width: 100%;

            & li {
                background-color: var(--offDarkModeBackground);
                margin: 1rem;
                padding: 1rem;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
                list-style: none;

                & img {
                    border-radius: 1rem;
                    margin: 0.3rem;
                    width: 150px;
                    height: 150px;
                    cursor: pointer;
                }
            }
        }
    }
}