
.sing-up {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--darkModeBackground);

    & .app-name {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18pt;
        font-weight: 400;
        text-decoration: none;
        color: var(--darkModeText);
        padding: 0.8rem;
        margin: 1rem;
    }

    & .card {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        align-items: center;
        font-size: 0.8rem;
        background-color: var(--lightModeBackground);
        width: 15em;
        height: 100%;  
        padding: 5rem;
        margin: 2rem;
        color: var(--darkModeText);

        & .response {
            color: var(--darkModeText);
        }

        & input {
            color: var(--darkModeText);
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: none;
            background-color: var(--offDarkModeBackground);
            transition: width 0.3s ease-in-out;

            &[type=text] {
                width: 13rem;
            }

            &[type=email] {
                width: 11rem;
            }

            &[type=password] {
                width: 11rem;
            }

            &:focus {
                outline: none;
                border: 0.2em solid var(--lightModeBackground);
            }
        }

        .errors {
            font-size: 10pt;
            color: var(--errorColor);
        }

        & button {
            background-color: var(--darkModeBackground);
            color: var(--darkModeText);
            width: 8rem;
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: var(--darkModeBackground);

            &:hover {
                background-color: var(--offDarkModeBackground);
            }
        }

        .log-in {
            display: block;
            text-align: center;
            width: 5rem;
            text-decoration: none;
            background-color: var(--darkModeBackground);
            color: var(--darkModeText);
            padding: 0.5rem;
            margin: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: var(--darkModeBackground);

            &:hover {
                background-color: var(--offDarkModeBackground);
            }
        }
    }
}